$numOfContactIcons: 4
$max-box-height: 350px
$currentSection1: Plx--in-about
$currentSection2: Plx--bellow

#about

  // Style with .box to improve performance, don't know why but it works
  .box
    +CBTransition(transform , .5s)
    transform: scaleX(0)
    border-radius: $border-radius
    transform-origin: 0 0
    max-height: $max-box-height

    // Prevent image make box height larger in desktop
    @media screen and (max-width: $break-to-touch)
      max-height: unset


  .name, .education, .shortProfile, .profile-img-container, .icon
    position: relative

  .name:after,
  .education:after,
  .shortProfile:after,
  .profile-img-container:after
    +transitions(transform .5s $cubic-bezier)
    +is-overlay()
    transform-origin: 100% 100%
    background-color: #fff

  .profile-img-container:after
    transition-delay: .5s
  .name:after
    transition-delay: .6s

  .education:after
    transition-delay: .7s

  .shortProfile:after
    transition-delay: .8s

  .icons
    a
      @for $i from 1 through $numOfContactIcons
        &:nth-child(#{$i})
          .icon
            transition-delay: #{.8 + $i * .05}s
    .icon
      +transitions(opacity 1s $cubic-bezier, transform 1s $cubic-bezier)
      transform: translateX(500px)
      opacity: 0
      span.fa-circle
        +CBTransition(color, .5s)
      &:hover
        span.fa-circle
          color: $grey-light



  .#{$currentSection1}, .#{$currentSection2}
    &.box
      transform: scaleX(1)

    .icon
      transform: translateX(0)
      opacity: 1

    .profile-img-container:after, .name:after, .education:after, .shortProfile:after
        transform: scaleX(0)

    // Mobile device
    @media screen and (max-width: $break-md)
      .profile-img-container:after
          transform: scaleY(0)

  .profile
    height: auto

    // Desktop
    @media screen and (min-width: $break-md)
      border-top-left-radius: $border-radius
      border-bottom-left-radius: $border-radius
      height: 100%
      //width: auto
      object-fit: cover

    // Tablet and Mobile
    @media screen and (max-width: $break-md)
      max-height: $profile-img-max-height
      width: $profile-img-max-width
      border-radius: 50%
      margin-top: 20px



