$numOfContactIcons: 10
$max-box-height: 350px
$currentSection1: Plx--in-about
$currentSection2: Plx--bellow

#about

  // Style with .box to improve performance, don't know why but it works
  .box
    +CBTransition(transform , .5s)
    transform: scaleX(0)
    border-radius: $border-radius
    transform-origin: 0 0
    max-height: $max-box-height

    // Prevent image make box height larger in desktop
    @media screen and (max-width: $break-to-touch)
      max-height: unset


  .name, .education, .shortProfile, .profile-img-container, .icon
    position: relative

  .profile-img-container
    +transitions(transform .5s $cubic-bezier, opacity .5s linear)
    opacity: 0
    transform: scale(0)


  .name:after,
  .education:after,
  .shortProfile:after,
    
    +is-overlay()
    transform-origin: 100% 100%
    background-color: #fff
    // prevent the character fonts exceed the overlay
    height: 110%
    width: 110%
    left: -5%
    height: -5%

  .name:after
    +transitions(transform .5s $cubic-bezier)
    transition-delay: .5s

  .education:after
    +transitions(transform .7s $cubic-bezier)
    transition-delay: .7s

  .shortProfile:after
    +transitions(transform .7s $cubic-bezier)
    transition-delay: 1s

  // for contactButton
  .icons
    @for $i from 1 through $numOfContactIcons
      a.button:nth-child(#{$i})
        +transitions(opacity 1s $cubic-bezier #{1 + $i * .05}s, transform 1s $cubic-bezier #{1 + $i * .05}s, background-color .5s $cubic-bezier)
        transform: translateX(500px)
        opacity: 0


  .#{$currentSection1}, .#{$currentSection2}
    &.box
      transform: scaleX(1)

    // for contactButton
    .icons
      a.button
        transform: translateX(0)
        opacity: 1

    .name:after, .education:after, .shortProfile:after
      transform: scaleX(0)
    
    .profile-img-container
      opacity: 1
      transform: scale(1)

    // Mobile device
    // @media screen and (max-width: $break-md)
    //   .profile-img-container:after
    //       transform: scaleY(0)

  .profile-img-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  .profile
    height: auto
    height: $profile-img-height
    width: $profile-img-width
    
    // Desktop
    @media screen and (min-width: $break-md)
      border-radius: 50%
      object-fit: cover

    // Tablet and Mobile
    @media screen and (max-width: $break-md)
      border-radius: 50%
      margin-top: 20px



