$border-radius: 25px
#projects
  .card
    border-radius: $border-radius
    box-shadow: $box-shadow-1
    overflow: hidden
    height: 400px

    .image
      height: 300px

      img
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius
        max-height: none
        height: 100%
        object-fit: cover