$numOfTags: 10
$border-radius: 25px
$project-card-height: 300px
$currentSection1: Plx--in-projects
$currentSection2: Plx--bellow
$card-background-color: #fff

#projects
  .card
    border-radius: $border-radius
    background-color: $card-background-color
    box-shadow: $box-shadow-1
    height: $project-card-height
    overflow: hidden
    position: relative

    img
      object-fit: cover
      min-height: 100%
      min-width: 100%

    .front-title
      +transitions(opacity .0s .25s)
      position: absolute
      bottom: 0
      right: 0
      padding: 10px
      width: 100%
      background-color: rgba(#000, .5)
      color: #fff

    .is-overlay
      opacity: 0

      .tag
        border: 1px #fff solid
        background-color: transparent
        color: #fff

      .button
        +transitions(background-color .5s ease-in-out, color 0s ease-in-out 1.3s, border-color 0s ease-in-out 1.3s)
        align-self: center
        width: 100px
        min-height: 2.25rem
        color: rgba(#fff, 0)
        // Prevent clicked when the card is not flipped to back
        transform: rotateY(90deg)
        &.is-fixBottom
          position: absolute
          bottom: 0
          width: 100%
          border: none
          border-top: 2px solid transparent

        &:before
          content: ''
          border-radius: $border-radius
          +is-overlay()
          +transitions(transform .7s $cubic-bezier 1s)
          transform: translateX(-100%)
          background-color: #fff


      .title, .content, .tags
        +transitions(transform .5s $cubic-bezier, opacity .5s $cubic-bezier)
        transform: translateY(30px)
        opacity: 0

      .title
        transition-delay: .5s
      .content
        transition-delay: .6s
        flex-grow: 2
      .tags
        transition-delay: .7s
      .title, .content
        color: #fff

  .#{$currentSection1}, .#{$currentSection2}
    .card
      +transitions(transform .5s linear, box-shadow .5s )
      cursor: pointer

      &:hover, &.isFlipped
        box-shadow: $box-shadow-3

      &.isFlipped
        transform: rotateY(180deg)
        cursor: default
        .front-title
          opacity: 0
        .is-overlay
          opacity: 1

          .title, .content, .tags
            transform: translateY(0)
            opacity: 1

          .button
            transform: rotateY(0)
            color: rgba(#fff, 1)
            border-color: rgba(#fff, 1)
            &:hover, &:active, &:focus
              background-color: rgba(#fff, .3)
            &:before
              transform: translateX(100%)

      .is-overlay
        display: flex
        flex-direction: column
        transition-delay: 0.25s
        transform: rotateY(180deg)
        background-color: rgba(0,0,0, .7)




