@import url("https://fonts.googleapis.com/css?family=Open+Sans");
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif; }

/**
 *  General
 */
/**
 *  Animation
 */
/**
 *  About section
 */
/**
 *  Class
 **/
/**
 *  Keyframes
 **/
@keyframes floatUp {
  0% {
    transform: scale(0.86); }
  100% {
    transform: scale(1); } }

@keyframes change-font-color {
  0% {
    color: inherit; }
  100% {
    color: #fff; } }

@keyframes scale-up {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes scale-down {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes scale-down-big {
  0% {
    transform: scale(5); }
  100% {
    transform: scale(0); } }

@keyframes fade-in-up {
  0% {
    transform: translateY(30px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-right {
  0% {
    transform: translateX(30px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-left {
  0% {
    transform: translateX(-30px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes floating {
  0% {
    transform: translateY(0); }
  65% {
    transform: translateY(15px); }
  0% {
    transform: translateY(0); } }

@keyframes shrink-to-right {
  0% {
    transform: scaleX(1); }
  100% {
    transform: scaleX(0); } }

.hero-head.JHL_hero-head .nav {
  background-color: transparent; }
  .hero-head.JHL_hero-head .nav .navbar-item, .hero-head.JHL_hero-head .nav .nav-item {
    color: #a00; }

.start-arrow {
  transition: color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  cursor: pointer;
  color: #999;
  opacity: 0;
  animation: fade-in-up 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.7s forwards; }
  .start-arrow:hover {
    color: #bfbfbf; }

.navbar {
  background-color: transparent;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 11; }
  .navbar .navbar-brand {
    transition: box-shadow .5s ease-in-out; }
  .navbar .navbar-brand, .navbar .navbar-menu, .navbar .navbar-burger {
    z-index: 10; }
  .navbar .navbar-item {
    color: #1c1c1c; }
    .navbar .navbar-item.is-active {
      background-color: #aaa; }
  .navbar .is-overlay {
    transition: opacity .5s ease-in-out, transform 0s ease-in 0.5s;
    transform: translateX(100vw);
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: -1; }
    .navbar .is-overlay.is-active {
      transition: opacity .5s ease-in-out, transform 0s ease-in 0s;
      opacity: 1;
      display: block;
      transform: translateX(0); }

@media screen and (min-width: 1008px) {
  .navbar {
    border-bottom: .5px solid;
    border-color: transparent;
    transition: border-color .5s; }
    .navbar.add-shadow {
      border-color: lightgray;
      background-color: #fff; }
  .fixed {
    position: fixed; }
  .navbar-brand {
    opacity: 0;
    animation: fade-in-left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s forwards; }
  .navbar-menu {
    opacity: 0;
    animation: fade-in-right 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards; } }

@media screen and (max-width: 1008px) {
  .navbar .navbar-brand {
    border-bottom: 2px solid;
    border-color: transparent;
    transition: border-color .5s; }
  .navbar.fixed {
    position: fixed; }
  .navbar.add-shadow .navbar-brand {
    border-color: lightgray;
    background: #fff; }
  .navbar button.button.navbar-burger {
    background-color: transparent;
    border: none;
    color: #1c1c1c; }
  .navbar .navbar-menu {
    background-color: #fff;
    position: relative;
    display: block;
    width: 100vw;
    transform: translateX(100vw);
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow: hidden; }
    .navbar .navbar-menu .navbar-end {
      opacity: 0;
      transform: translateY(15px);
      transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s, transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s; }
  .navbar .navbar-menu.is-active {
    transform: translateX(0); }
    .navbar .navbar-menu.is-active .navbar-end {
      transform: translateY(0px);
      opacity: 1; } }

.modal {
  transition: transform 0s 0.5s, opacity 0.5s;
  display: flex;
  transform: translateX(100vw);
  opacity: 0; }
  .modal img {
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
    transform: translateY(-100%); }
  .modal .title, .modal .text {
    position: relative; }
  .modal .title:before, .modal .text:before {
    transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    transform-origin: 100% 100%;
    background-color: #fff; }
  .modal .title:before {
    transition-delay: .5s;
    transform: scaleY(1); }
  .modal .text:before {
    transition-delay: .8s;
    transform: scaleX(1); }
  .modal .field {
    transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.3s, opacity 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.3s;
    transform: translateY(30px);
    opacity: 0; }
  .modal .modal-card {
    border-radius: 25px; }
    .modal .modal-card img {
      max-height: 200px;
      width: 100%;
      object-fit: cover; }
    .modal .modal-card a.button {
      transition: color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      background-color: transparent; }
      .modal .modal-card a.button:before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
        transform: scaleX(0);
        transform-origin: 0 0;
        background-color: #999;
        z-index: 1; }
      .modal .modal-card a.button:not(:last-child) {
        margin-right: 10px; }
      .modal .modal-card a.button:hover {
        color: #fff; }
        .modal .modal-card a.button:hover:before {
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 10;
          transform: scaleX(1); }
      .modal .modal-card a.button span {
        z-index: 10; }
  .modal.is-active {
    transition: transform 0s ease-in-out, opacity 0.5s;
    transform: translateX(0);
    opacity: 1; }
    .modal.is-active img {
      transform: translateY(0); }
    .modal.is-active .title:before {
      transform: scaleY(0); }
    .modal.is-active .text:before {
      transform: scaleX(0); }
    .modal.is-active .field {
      transform: translateY(0);
      opacity: 1; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

.layout {
  position: relative;
  max-width: 100vw;
  overflow: hidden; }

#about .box {
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transform: scaleX(0);
  border-radius: 25px;
  transform-origin: 0 0;
  max-height: 350px; }
  @media screen and (max-width: 1008px) {
    #about .box {
      max-height: unset; } }

#about .name, #about .education, #about .shortProfile, #about .profile-img-container, #about .icon {
  position: relative; }

#about .name:after,
#about .education:after,
#about .shortProfile:after,
#about .profile-img-container:after {
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  transform-origin: 100% 100%;
  background-color: #fff;
  height: 110%;
  width: 110%;
  left: -5%;
  height: -5%; }

#about .profile-img-container:after {
  transition-delay: .5s; }

#about .name:after {
  transition-delay: .6s; }

#about .education:after {
  transition-delay: .7s; }

#about .shortProfile:after {
  transition-delay: .8s; }

#about .icons a.button:nth-child(1) {
  transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.85s, transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.85s, background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(500px);
  opacity: 0; }

#about .icons a.button:nth-child(2) {
  transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.9s, transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.9s, background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(500px);
  opacity: 0; }

#about .icons a.button:nth-child(3) {
  transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.95s, transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.95s, background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(500px);
  opacity: 0; }

#about .icons a.button:nth-child(4) {
  transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s, transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s, background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(500px);
  opacity: 0; }

#about .icons a.button:nth-child(5) {
  transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.05s, transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.05s, background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(500px);
  opacity: 0; }

#about .icons a.button:nth-child(6) {
  transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.1s, transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.1s, background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(500px);
  opacity: 0; }

#about .icons a.button:nth-child(7) {
  transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.15s, transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.15s, background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(500px);
  opacity: 0; }

#about .icons a.button:nth-child(8) {
  transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.2s, transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.2s, background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(500px);
  opacity: 0; }

#about .icons a.button:nth-child(9) {
  transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.25s, transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.25s, background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(500px);
  opacity: 0; }

#about .icons a.button:nth-child(10) {
  transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.3s, transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.3s, background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(500px);
  opacity: 0; }

#about .Plx--in-about.box, #about .Plx--bellow.box {
  transform: scaleX(1); }

#about .Plx--in-about .icons a.button, #about .Plx--bellow .icons a.button {
  transform: translateX(0);
  opacity: 1; }

#about .Plx--in-about .profile-img-container:after, #about .Plx--in-about .name:after, #about .Plx--in-about .education:after, #about .Plx--in-about .shortProfile:after, #about .Plx--bellow .profile-img-container:after, #about .Plx--bellow .name:after, #about .Plx--bellow .education:after, #about .Plx--bellow .shortProfile:after {
  transform: scaleX(0); }

@media screen and (max-width: 768px) {
  #about .Plx--in-about .profile-img-container:after, #about .Plx--bellow .profile-img-container:after {
    transform: scaleY(0); } }

#about .profile-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#about .profile {
  height: auto;
  height: 200px;
  width: 200px; }
  @media screen and (min-width: 768px) {
    #about .profile {
      border-radius: 50%;
      object-fit: cover; } }
  @media screen and (max-width: 768px) {
    #about .profile {
      border-radius: 50%;
      margin-top: 20px; } }

.home {
  transition: color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 300px;
  width: 300px;
  max-height: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  z-index: 2;
  animation: scale-up 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s forwards;
  border: #999 solid 3px; }
  .home:after, .home:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0; }
  .home .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade-in-up 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
    padding: 30px; }
  @media screen and (max-width: 768px) {
    .home {
      height: 224px;
      width: 224px; }
      .home h1.title {
        font-size: 1.5rem; } }

.home-title {
  opacity: 0;
  animation: fade-in-up 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.2s forwards; }

.skill-icons-container {
  display: flex;
  flex-wrap: wrap; }

.skill-icon-container {
  padding: 5px; }
  .skill-icon-container .skill-icon {
    font-size: 5rem; }

#projects .card {
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 300px;
  overflow: hidden;
  position: relative; }
  #projects .card img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%; }
  #projects .card .front-title {
    transition: opacity 0s 0.25s;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; }
  #projects .card .is-overlay {
    opacity: 0; }
    #projects .card .is-overlay .tag {
      border: 1px #fff solid;
      background-color: transparent;
      color: #fff; }
    #projects .card .is-overlay .button {
      transition: background-color 0.5s ease-in-out, color 0s ease-in-out 1.3s, border-color 0s ease-in-out 1.3s;
      align-self: center;
      width: 100px;
      min-height: 2.25rem;
      color: rgba(255, 255, 255, 0);
      transform: rotateY(90deg);
      left: 0;
      display: flex;
      flex-direction: column; }
      #projects .card .is-overlay .button.is-fixBottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        border: none;
        border-top: 2px solid transparent; }
      #projects .card .is-overlay .button:before {
        transition: transform 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        content: '';
        border-radius: 25px;
        transform: translateX(-100%);
        background-color: #fff; }
    #projects .card .is-overlay .title, #projects .card .is-overlay .content, #projects .card .is-overlay .tags {
      transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transform: translateY(30px);
      opacity: 0; }
    #projects .card .is-overlay .title {
      transition-delay: .5s; }
    #projects .card .is-overlay .content {
      transition-delay: .6s;
      flex-grow: 2; }
    #projects .card .is-overlay .tags {
      transition-delay: .7s; }
    #projects .card .is-overlay .title, #projects .card .is-overlay .content {
      color: #fff; }

#projects .Plx--in-projects .card, #projects .Plx--bellow .card {
  transition: transform 0.5s linear, box-shadow 0.5s;
  cursor: pointer; }
  #projects .Plx--in-projects .card:hover, #projects .Plx--in-projects .card.isFlipped, #projects .Plx--bellow .card:hover, #projects .Plx--bellow .card.isFlipped {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  #projects .Plx--in-projects .card.isFlipped, #projects .Plx--bellow .card.isFlipped {
    transform: rotateY(180deg);
    cursor: default; }
    #projects .Plx--in-projects .card.isFlipped .front-title, #projects .Plx--bellow .card.isFlipped .front-title {
      opacity: 0; }
    #projects .Plx--in-projects .card.isFlipped .is-overlay, #projects .Plx--bellow .card.isFlipped .is-overlay {
      opacity: 1; }
      #projects .Plx--in-projects .card.isFlipped .is-overlay .title, #projects .Plx--in-projects .card.isFlipped .is-overlay .content, #projects .Plx--in-projects .card.isFlipped .is-overlay .tags, #projects .Plx--bellow .card.isFlipped .is-overlay .title, #projects .Plx--bellow .card.isFlipped .is-overlay .content, #projects .Plx--bellow .card.isFlipped .is-overlay .tags {
        transform: translateY(0);
        opacity: 1; }
      #projects .Plx--in-projects .card.isFlipped .is-overlay .button, #projects .Plx--bellow .card.isFlipped .is-overlay .button {
        border-color: white;
        transform: rotateY(0);
        color: white; }
        #projects .Plx--in-projects .card.isFlipped .is-overlay .button:hover, #projects .Plx--in-projects .card.isFlipped .is-overlay .button:active, #projects .Plx--in-projects .card.isFlipped .is-overlay .button:focus, #projects .Plx--bellow .card.isFlipped .is-overlay .button:hover, #projects .Plx--bellow .card.isFlipped .is-overlay .button:active, #projects .Plx--bellow .card.isFlipped .is-overlay .button:focus {
          background-color: rgba(255, 255, 255, 0.3); }
        #projects .Plx--in-projects .card.isFlipped .is-overlay .button:before, #projects .Plx--bellow .card.isFlipped .is-overlay .button:before {
          transform: translateX(100%); }
  #projects .Plx--in-projects .card .is-overlay, #projects .Plx--bellow .card .is-overlay {
    display: flex;
    flex-direction: column;
    transition-delay: 0.25s;
    transform: rotateY(180deg);
    background-color: rgba(0, 0, 0, 0.7); }

#projects .column {
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateY(15px);
  opacity: 0; }
  @media screen and (min-width: 1008px) {
    #projects .column:nth-child(even) {
      transform: translateX(60px); }
    #projects .column:nth-child(odd) {
      transform: translateX(-60px); } }

#projects .Plx--in-projects .column,
#projects .Plx--bellow .column {
  opacity: 1;
  transform: translateY(0); }
